<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">

                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/assets/img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="current-item"><a href="/">Home</a></li>
                            <li><a href="/services">Services</a>
                                <ul class="dropdown">
                                    <li><a href="./about"> Web Development</a>
                                        <ul class="dropdown" style = "filter:alpha(opacity=90)">
                                            <li><a href="#"> Web Development</a></li>
                                            <li><a href="#"> Web Management</a></li>
                                            <li><a href="#"> Web Analytics</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./services.html"> IoT</a>
                                        <ul class="dropdown" style = "filter:alpha(opacity=90)">
                                            <li><a href="#"> Machine Learning</a></li>
                                            <li><a href="#"> Alexa / Google Home</a></li>
                                            <li><a href="#"> Fitbit </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./portfolio.html"> Business Dashboards</a>
                                        <ul class="dropdown">
                                            <li><a href="#"> Tableau</a></li>
                                            <li><a href="#"> Mircosoft BI</a></li>
                                            <li><a href="#"> Plotly</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./portfolio-single.html"> Data Visualization</a>
                                        <ul class="dropdown">
                                            <li><a href="#"> GIS</a></li>
                                            <li><a href="#"> Time Series</a></li>
                                            <li><a href="#"> News</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./blog.html"> Webscraping</a></li>
                                </ul>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">Blog</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="/blog.html">- Blog</a></li>
                                    <li><a href="/single-blog.html">- Blog Details</a></li>
                                </ul> -->
                            </li>
                        </ul>

                        <!-- Get A Quote -->
                        <div class="get-a-quote ml-4 mr-3">
                            <a href="/contact" class="btn uza-btn">Contact Us</a>
                        </div>

                        <!-- Login / Register -->
                        <!-- <div class="login-register-btn mx-3">
                            <a href="#">Login <span>/ Register</span></a>
                        </div> -->

                        <!-- Search Icon -->
                       <!--  <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                            <i class="icon_search"></i>
                        </div> -->
                    </div>
                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</header>