<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">

                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/assets/img/core-img/full_logos/resized/og_black.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="current-item"><a href="/">Home</a></li>
                            <li><a href="/services">Services</a>
                                <ul class="dropdown">
                                    <li><a href="/services/web-development.html"> Web Development</a></li>
                                    <li><a href="/services/smart-home.html">Smart Home Devices</a></li>
                                    <li><a href="/services/wearables.html">Wearables</a></li>
                                    <li><a href="/services/reporting.html"> Tableau & Power BI </a></li>
                                    <li><a href="/services/small-business.html"> Small Business Dev</a></li>
                                    <li><a href="/services/webscraping.html"> Webscraping </a></li>
                                </ul>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">Blog</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="/blog.html">- Blog</a></li>
                                    <li><a href="/single-blog.html">- Blog Details</a></li>
                                </ul> -->
                            </li>
                        </ul>

                        <!-- Get A Quote -->
                        <div class="get-a-quote ml-4 mr-3">
                            <a href="/contact" class="btn uza-btn">Contact Us</a>
                        </div>
                    </div>
                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</header>