<!-- ***** Newsletter Area Start ***** -->
<section class="uza-newsletter-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Newsletter Content -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="nl-content mb-80">
                    <h2>Subscribe to our Newsletter</h2>
                    <p> Subscribe to get notifications about new blog posts and updates </p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="nl-form mb-80">

                    <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/1up7P7NbkD7flFeBNzGQv3jgGyXztMLtEzVLuIF7c8hk/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                        <input type="text" name="entry.1884265043" id="entry.1884265043" value="" placeholder="Your Email">
                        <button type="submit">Subscribe</button>
                    </form>

                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>

                    <script src="assets/js/jquery.min.js"></script>
                    <script type="text/javascript">var submitted=false;</script>
                    <script type="text/javascript">
                        $('#gform').on('submit', function(e) {
                        $('#gform *').fadeOut(10);
                        $('#gform').prepend('Your email has been submitted');
                        });
                    </script>
                </div>
            </div>
        </div>
        <!-- Border Bottom -->
        <div class="border-line"></div>
    </div>
</section>
<!-- ***** Newsletter Area End ***** -->