<!DOCTYPE html>
<html lang="en">

{% include header.html%}

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58MGT3P"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <!-- Preloader -->
    {% include preloader.html %}

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

    {% include jscripts.html %}}

</body>

</html>